@use "@/scss/variables.scss" as *;

.Page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media (max-width: 768px) {
    padding: 0px 15px;
  }
  &__title {
    @include title();
    color: $Black;
  }
  &__news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;
    }
  }
}
