@use "@/scss/variables.scss" as *;

.Page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  &__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 39.01px;
    color: $Black;
  }
  &__content {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
