@use "@/scss/variables.scss" as *;

.Footer {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    a {
      font-size: 14px;
      font-weight: 500;
      line-height: 17.07px;
      cursor: pointer;
      color: $Black;
      transition: color 0.1s ease;
      &:hover {
        color: #636363;
      }
    }
  }
  &__copyright {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
  }
}
